#EXTM3U
#EXTINF:-1,[COLOR red][B]##Vietnam-Hai-Ngoai##[/B][/COLOR]
//http://


#EXTINF:-1,vietface-57.2(Los Angeles)
http://206.190.140.142:1935/liveStream/vface_1/playlist.m3u8

#EXTINF:-1,Vietv-54.3(San Jose)
http://hls12.las.v247tv.com:8081/live/vietv-sjo1/chunklist_w1093886736.m3u8?

#EXTINF:-1,Vietv-51.2(Houston)
http://hls12.las.v247tv.com:8081/live/vietv-hou1/chunklist_w938144085.m3u8?

#EXTINF:-1,Vietv-(Orange County)
http://hls12.las.v247tv.com:8081/live/vietv-oc1/chunklist_w1039282604.m3u8?

#EXTINF:-1,Vietface-55.5 (Dallas)
http://hls12.las.v247tv.com:8081/live/vftv-dal1/chunklist_w379132651.m3u8?

#EXTINF:-1,SBTN-(SET)
rtmp://50.7.30.60:1935/liveChannel/_definst_/set_1
#EXTINF:-1,Set-57.4(OC/LA)

http://206.190.140.142:1935/liveStream/set_1/chunklist_w842064493.m3u8

#EXTINF:-1,SaigonTV(LSTV)
http://206.190.140.142/liveStream/lstv_1/chunklist_w350070487.m3u8

Little Sai Gon TV(LSTV)
http://stream.s15.cpanelservices.com/lstvlive/livestream/playlist.m3u8

#EXTINF:-1, Viet-USA-TV
http://stream.onworldtv.com/live/vus/index.m3u8

#EXTINF:-1, Phim-24h
http://stream.onworldtv.com/live/film24/index.m3u8

#EXTINF:-1, Cuoi-24h
http://stream.onworldtv.com/live/laugh24/index.m3u8

#EXTINF:-1, Itv-HomeShopping
http://stream.onworldtv.com/live/itvshop/index.m3u8

#EXTINF:-1, SGN-TV-Houston-TX(51.3)
http://stream.onworldtv.com/live/sgn/index.m3u8

#EXTINF:-1, News-24h
http://stream.onworldtv.com/live/news24/index.m3u8

#EXTINF:-1, Vietnamese American Network
http://stream.onworldtv.com/live/van/index.m3u8

#EXTINF:-1, The Gioi Tu Thien Channel
http://stream.onworldtv.com/live/the...ien/index.m3u8

#EXTINF:-1, MTV 24 Gi?
http://stream.onworldtv.com/live/mtv24/index.m3u8





#EXTINF:-1,[COLOR red][B]##USA/English-channels##[/B][/COLOR]
//http://



#EXTINF:-1, ACTIVA TV
http://stream.onworldtv.com/live/activatv/index.m3u8

#EXTINF:-1,ABC-News
http://abclive.abcnews.com/i/abc_live4@136330/index_2500_av-b.m3u8?sd=10&rebase=on

#EXTINF:-1,Animal-Planet-HD
http://200.76.77.237/LIVE/H01/CANAL373/PROFILE03.m3u8?

#EXTINF:-1,Animal- Planet-HD
http://sjc-uhls-vip01.ustream.tv/watch/playlist.m3u8?cid=12762028
#EXTINF:-1,BBC-World-News (UK)
http://93.184.221.133/hls-live/20C1A9/bbc_world/ls_satlink/b_828.m3u8

#EXTINF:-1,CNN
http://wpc.c1a9.edgecastcdn.net/hls-live/20C1A9/cnn/ls_satlink/b_828.m3u8?Vd?u#bt!25

#EXTINF:-1,CBS Reality
http://83.139.104.112/Content/HLS/Live/Channel(cbs_reality)/Stream(03)/index.m3u8

#EXTINF:-1,CBSN-Live-HD
http://cbsnewshd-lh.akamaihd.net/i/CBSNDC_4@199302/index_4000_av-b.m3u8?sd=10&rebase=on

#EXTINF:-1,btnnetwork
http://bigten247.cdnak.bigtenhd.neulion.com/nlds/btn2go/btnnetwork/as/live/btnnetwork_hd_3000.m3u8

#EXTINF:-1,CineStar2( Action)
http://83.139.104.112/Content/HLS/Live/Channel(CINESTAR_ACTION_AND_THRILLER)/Stream(03)/index.m3u8

#EXTINF:-1,CineStar (premiere 1)
http://83.139.104.112/Content/HLS/Live/Channel(cinestar_premiere_1)/Stream(03)/index.m3u8

#EXTINF:-1,CineStar( premiere 2)
http://83.139.104.112/Content/HLS/Live/Channel(cinestar_premiere_2)/Stream(03)/index.m3u8

#EXTINF:-1,DMC
http://83.139.104.112/Content/HLS/Live/Channel(DMC)/Stream(03)/index.m3u8

#EXTINF:-1,Discovery
http://200.76.77.237/LIVE/H01/CANAL371/PROFILE03.m3u8?

#EXTINF:-1,Discovery-HD-Theater
http://200.76.77.237/LIVE/H01/CANAL351/PROFILE03.m3u8?

#EXTINF:-1,Discovery Channel
http://83.139.104.112/Content/HLS/Live/Channel(discovery_channel)/Stream(03)/index.m3u8

#EXTINF:-1,Dubai-One-TV
http://cdnedvrdubaitv.endavomedia.com/smil:dmilivedubaitvhls.smil/chunklist.m3u8

#EXTINF:-1,Extreme-Sports-TV
http://83.139.104.112/Content/HLS/Live/Channel(extreme_sports)/Stream(03)/index.m3u8

#EXTINF:-1,Fashion-TV
http://83.139.104.112/Content/HLS/Live/Channel(fashion_tv)/Stream(03)/index.m3u8

#EXTINF:-1,Fight-Channel
http://83.139.104.112/Content/HLS/Live/Channel(fight_channel)/Stream(03)/index.m3u8

#EXTINF:-1,Food-Networks
http://83.139.104.112/Content/HLS/Live/Channel(food_network)/Stream(03)/index.m3u8

#EXTINF:-1,Fox 1-HD
http://200.76.77.237/LIVE/H01/CANAL415/PROFILE03.m3u8?
#EXTINF:-1,MTV-Channel
http://83.139.104.112/Content/HLS/Live/Channel(mtv)/Stream(03)/index.m3u8

#EXTINF:-1,I24-News-HD
http://bcoveliveios-i.akamaihd.net/hls/live/215102/master_english/398/650.m3u8

#EXTINF:-1,KiNO-TV
http://83.139.104.112/Content/HLS/Live/Channel(kino_tv)/Stream(03)/index.m3u8

#EXTINF:-1,NBC-Golf Live-new-events- 1080
http://tvegolf-i.akamaihd.net/hls/live/218225/golfx/4296k/prog.m3u8?Vd?u#bt!25

#EXTINF:-1,NBC-Sports -ive-extra-Golf-Live-HD
http://tvegolf-i.akamaihd.net/hls/live/218225/golfx/4296k/prog.m3u8

#EXTINF:-1,NAT-GEO-Sp
http://200.76.77.237/LIVE/H01/CANAL377/PROFILE03.m3u8?

#EXTINF:-1,NAT-GEO-WILD-SP-HD
http://200.76.77.237/LIVE/H01/CANAL355/PROFILE03.m3u8?

#EXTINF:-1,NASA- HD
http://public.infozen.cshls.lldns.net/infozen/public/public/public_1000.m3u8

#EXTINF:-1,TLC 1-HD
http://200.76.77.237/LIVE/H01/CANAL356/PROFILE03.m3u8?

#EXTINF:-1,Travel-Channel
http://83.139.104.112/Content/HLS/Live/Channel(travel_channel)/Stream(03)/index.m3u8

#EXTINF:-1,Pentagon-Channel-HD
http://149.11.34.6:1935/live/pentagon.stream/playlist.m3u8?wowzasessionid=750145898

#EXTINF:-1,RT-Global-Auto-HD
http://odna.octoshape.net/f3f5m2v4/cds/ch1_auto.smil/chunklist_b2500000.m3u8

#EXTINF:-1,RT-America-Live- Auto-HD  
http://odna.octoshape.net/f3f5m2v4/cds/ch4_auto.smil/chunklist_b2500000.m3u8

#EXTINF:-1,RT-Documentary-Live-Auto-HD 
http://odna.octoshape.net/f3f5m2v4/cds/ch5_auto.smil/chunklist_b2500000.m3u8

#EXTINF:-1,RT-UK-Live- Auto-HD
http://odna.octoshape.net/f3f5m2v4/cds/ch6_auto.smil/chunklist_b2500000.m3u8

#EXTINF:-1,RT-America 
http://odna.octoshape.net/f3f5m2v4/cds/ch4_320p/chunklist.m3u8?Vd?u
#EXTINF:-1,kanal-Sports-HD-new events
http://lswb-de-08.servers.octoshape.net:1935/live/kanalsport_2000k/chunklist_w1315561860.m3u8?Vd?u

#EXTINF:-1,Tennis-Channel-HD
http://193.232.151.135/hls-live/livepkgr/_1011_/1011/1011-70.m3u8

#EXTINF:-1,Sports-HD
http://193.232.151.135/hls-live/livepkgr/_1031_/1031/1031-70.m3u8

#EXTINF:-1,Sports-HD
http://stream.ssh101.com/hls/nxtrre.m3u8

#EXTINF:-1,Soccers-HD
http://stream.ssh101.com/hls/998877.m3u8

#EXTINF:-1,Soccers-2-HD
http://stream.ssh101.com/hls/885522.m3u8

#EXTINF:-1,Vevo-1-HD-Country-Musics
http://vevoplaylist-live.hls.adaptive.level3.net/vevo/ch1/06/prog_index.m3u8

#EXTINF:-1,Vevo-2-HD-Country-Musics
http://vevoplaylist-live.hls.adaptive.level3.net/vevo/ch2/06/prog_index.m3u8

#EXTINF:-1,Vevo-3-HD- Country-Musics
http://vevoplaylist-live.hls.adaptive.level3.net/vevo/ch3/06/prog_index.m3u8

#EXTINF:-1,HBO-HD-(ISML)
http://113.160.49.34/lives/origin03/hbohd.isml/hbohd-2096k.m3u8

#EXTINF:-1,HBO-Kenh-phim-truyen-quoc-te
http://113.160.49.34/lives/origin03/hbohd.isml/hbohd-2096k.m3u8

#EXTINF:-1,HSN
rtmp://hsn.mpl.miisolutions.net/hsn-live01/mp4:420p500kB31

#EXTINF:-1,beinsport-eng
rtmp://beinsportgeolivefs.fplive.net:1935/beinsportgeolive-live/beinsport_eng_4

#EXTINF:-1,AXN-HD(Viet Sub)
http://avg.anluong.info/lives/origin03/axnhd.isml/axnhd-2096k.m3u8


#EXTINF:-1 ,CineMax(Viet Sub)
http://avg.anluong.info/lives/origin03/cinemaxsd.isml/cinemaxsd-1096k.m3u8



#EXTINF:-1,[COLOR red][B]##Vietnam-channels(In-Vietnam)##[/B][/COLOR]
http://




#EXTINF:-1,Viet MTV
http://64.62.143.5:1935/live/donotstealmy-Stream1/BratuMarian.m3u8

#EXTINF:-1,VTVCAB1-Giai-Tri
http://vtv.live.cdn.fptplay.net/vtvlive/smil:giaitritv_hls.smil/playlist.m3u8

#EXTINF:-1,VTVCAB2-Phim-Viet accessasia-tv-ser(480P)
http://live.accessasia.tv:1935/vnptg_channels/vctv2.480p/playlist.m3u8

#EXTINF:-1,VTV-VTVCAB2-Phim-Viet
http://vtv.live.cdn.fptplay.net/vtvlive/smil himviet_hls.smil/playlist.m3u8

#EXTINF:-1,VTV-VTVCAB4-Kenh17- accessasia-tv-ser(480P)
http://live.accessasia.tv:1935/vnptg_channels/mp4:vctv4.480p/playlist.m3u8

#EXTINF:-1,VTVCAB4-Kenh17
http://vtv.live.cdn.fptplay.net/vtvlive/smil:kenh17_hls.smil/playlist.m3u8

#EXTINF:-1,VTVCAB5-Echannel
http://vtv.live.cdn.fptplay.net/vtvlive/smil:echanel_hls.smil/playlist.m3u8

#EXTINF:-1,VTVCAB6-HayTV
http://vtv.live.cdn.fptplay.net/vtvlive/smil:haytv_hls.smil/playlist.m3u8

#EXTINF:-1,VTVCAB7-Dramma
http://vtv.live.cdn.fptplay.net/vtvlive/smil:ddramas_hls.smil/playlist.m3u8

#EXTINF:-1,VTVCAB10-O2(480P)
http://live.accessasia.tv:1935/vnptg_channels/mp4:vctv10.480p/playlist.m3u8

#EXTINF:-1,VTVCAB12-Style
http://vtv.live.cdn.fptplay.net/vtvlive/smil:styletv_hls.smil/playlist.m3u8

#EXTINF:-1,VTVCAB17-Yeah1
http://123.29.69.69:1935/live/VTVVTVCAB17_600k/playlist.m3u8
#EXTINF:-1,SCTV-Giai-Tri-HD
http://sctv.live.cdn.anluong.info/live/C014_HD_2/playlist.m3u8?

#EXTINF:-1,SCTV-Sao-HD
http://sctv.live.cdn.anluong.info/live/C016_HD_2/playlist.m3u8?

#EXTINF:-1,SCTV-Tong- Hop-HD
http://sctv.live.cdn.anluong.info/live/C014_HD_2/chunklist_w687589312.m3u8?

#EXTINF:-1,SCTV-Song-Nhac-HD
http://sctv.live.cdn.anluong.info/live/C006_HD_3/chunklist_w1162923293.m3u8?

#EXTINF:-1,SCTV-San-Khau-HD
http://sctv.live.cdn.anluong.info/live/C012_HD_1/chunklist_w530375415.m3u8?

#EXTINF:-1,SCTV-Phim-HD
http://sctv.live.cdn.anluong.info/live/C009_HD_1/chunklist_w1442523593.m3u8?

#EXTINF:-1,SCTV-Du-Lich-HD
http://sctv.live.cdn.anluong.info/live/C007_HD_2/playlist.m3u8?

#EXTINF:-1,SCTV-Phu-Nu-Gia-Dinh-HD
http://sctv.live.cdn.anluong.info/live/C017_HD_2/playlist.m3u8?

#EXTINF:-1,SCTV-Phin-Dac-Sac-HD
http://sctv.live.cdn.anluong.info/live/C015_HD_2/playlist.m3u8?

#EXTINF:-1,SCTV-Phin-Chon-Loc-HD
http://sctv.live.cdn.anluong.info/live/C013_HD_3/playlist.m3u8?

#EXTINF:-1,SCTV-Hai-HD(480P)
http://live.accessasia.tv:1935/vnptg_channels/mp4:sctvhaihd.480p/playlist.m3u8

#EXTINF:-1,SCTV7(480P)
http://live.accessasia.tv:1935/vnptg_channels/mp4:sctv7.480p/playlist.m3u8

#EXTINF:-1,SCTV14(480P)
http://live.accessasia.tv:1935/vnptg_channels/mp4:sctv14.480p/playlist.m3u8

#EXTINF:-1,HTVC-Du-Lich-Live accessasia-tv-ser(480P)
http://live.accessasia.tv:1935/vnptg_channels/mp4:dulichcuocsong.480p/playlist.m3u8

#EXTINF:-1,HTVC-Du-Lich
http://vctv.anluong.info:1935/live/HTVCDuLich_600k/playlist.m3u8

#EXTINF:-1,HTVC-Phim
http://vctv.anluong.info:1935/live/HTVCPhim_600k/playlist.m3u8

#EXTINF:-1,HTVC-Gia-Dinh
http://vctv.anluong.info:1935/live/HTVCGiaDinh_600k/playlist.m3u8

#EXTINF:-1,HTVC-Ca-Nhac
http://vctv.anluong.info:1935/live/HTVCCaNhac_600k/playlist.m3u8

#EXTINF:-1,Thuan-Viet-HD accessasia-tv-ser(480P)
http://live.accessasia.tv:1935/vnptg_channels/mp4:thuanviet.480p/playlist.m3u8

#EXTINF:-1,Thuan-Viet
http://vctv.anluong.info:1935/live/HTVCThuanViet_600k/playlist.m3u8

#EXTINF:-1,PhimHay-SD
http://avg.anluong.info/lives/origin01/phimhaysd.isml/phimhaysd.m3u8

#EXTINF:-1,Sam-SD
http://avg.anluong.info/lives/origin01/samsd.isml/samsd.m3u8

#EXTINF:-1,Viet-Teen
http://avg.anluong.info/lives/origin03/vietteensd.isml/vietteensd.m3u8

#EXTINF:-1,NcM-SD
http://avg.anluong.info/lives/origin03/ncmsd.isml/ncmsd.m3u8

#EXTINF:-1,An-Ninh-World-SD
http://avg.anluong.info/lives/origin01/STTVsd.isml/STTVsd.m3u8

#EXTINF:-1,Mien-Tay
http://vtv.fpt.cdn.anluong.info/livez/mientay_1000.stream/mientaysd.m3u8

#EXTINF:-1,Nhac-Tre-SD
http://avg.anluong.info/lives/origin03/nhactresd.isml/nhactresd.m3u8

#EXTINF:-1,Nhac-Tru-Tinh-SD
http://avg.anluong.info/lives/origin03/nhactrutinhsd.isml/nhactrutinhsd.m3u8

#EXTINF:-1,Nhac-Dan-Toc-SD
http://avg.anluong.info/lives/origin03/nhacdantocsd.isml/nhacdantocsd.m3u8

#EXTINF:-1,Nhac-Nam-Bo-SD
http://avg.anluong.info/lives/origin03/nhacnambosd.isml/nhacnambosd-1096k.m3u8

#EXTINF:-1,Nhac-Nhe-SD
http://avg.anluong.info/lives/origin03/nhacnhesd.isml/nhacnhesd.m3u8

#EXTINF:-1,Nhac-Co-Dien-SD
http://avg.anluong.info/lives/origin01/nhaccodiensd.isml/nhaccodiensd.m3u8

#EXTINF:-1,Nhac-Cach-Mang-SD
http://avg.anluong.info/lives/origin03/nhaccachmangsd.isml/nhaccachmangsd.m3u8

#EXTINF:-1,VTC3
http://vtc.live.cdn.anluong.info:1935/live/_definst_/VTC3/VTC3_480x360_400kbps.stream/media_170464.ts?wowzasessionid=891881818

#EXTINF:-1,Let's-Viet(VTC9)
http://123.29.69.69:1935/live/VTC9_600k/chunklist_w2061686857.m3u8
